body{
background: linear-gradient(to left, #7fb658 0%, #fcc5b9 100%);
}

table {
  height: 300px;
  max-width: none;
  min-width: 400px;
  border-collapse: collapse;
  margin: auto;
}
table, th, td {
    border: 5px dotted #fcc5b9;
    font-family: Verdana; color: #cd5478;

  }

th, td {
  padding: 15px;
  text-align: left;
}
